*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary: #82c341;
  --secondary: #3f730a;
  --orange-color: #ff7d09;
  --red-color:#f34c09;
  --light-blue-color: #1e929b;
  --dark-color: #525252;
  --dark-gray: #acacac;
  --light-gray: #f8f8f8;
  --white: #fff;

  --img-dark: invert(29%) sepia(0%) saturate(1248%) hue-rotate(153deg) brightness(107%) contrast(93%);
  --img-primary: invert(69%) sepia(58%) saturate(488%) hue-rotate(45deg) brightness(93%) contrast(84%);
  --img-white: invert(100%) sepia(1%) saturate(5%) hue-rotate(340deg) brightness(102%) contrast(101%);
  --img-red:invert(42%) sepia(80%) saturate(3812%) hue-rotate(355deg) brightness(95%) contrast(101%);
}

@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/firasans/FiraSans-Thin.woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/firasans/FiraSans-Light.woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/firasans/FiraSans-Medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/firasans/FiraSans-Bold.woff2');
  font-weight: 700;
}

::selection{
  background: var(--primary);
  color: var(--white);
}

body{font-family: 'FiraSans', sans-serif;}


a{ text-decoration: none; color: inherit;}

ul{list-style: none;}

input:focus{outline: none;}

.container{
  width: 90%;
  margin: 0 auto;
}

.general-section{
  padding: 80px 0;
}

.section-contint{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.general-title{
  font-size: 2.2rem;
  color: var(--primary);
  font-family: cursive;
  text-transform: uppercase;
  font-weight: 100;
}

.custum-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 50px 15px 30px;
  border-radius: 120px;
  color: var(--white);
  outline: 1px solid var(--secondary);
  overflow: hidden;
  z-index: 1;
  position: relative;
  width: fit-content;
  font-size: 0.9rem;
  text-transform: capitalize;
  transition: 0.3s color linear;
}
.custum-btn:hover{
  color: var(--primary);
}

.custum-btn::after,
.custum-btn::before{
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 55%;
  background: var(--secondary);
  z-index: -1;
  transition: 0.3s all linear;
}

.custum-btn::after{
  right: 0;
}

.custum-btn::before{
  left: 0;
}

.custum-btn:hover:after,
.custum-btn:hover:before{
  width: 0;
}

.custum-btn span{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--white);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}

.custum-btn span img{
  width: 60%;
  height: 60%;
  object-fit: contain;
  transition: 0.3s all linear;
  filter: var(--img-dark);
}

.custum-btn:hover span img{
  transform: rotate(180deg);
  filter: var(--img-primary);
}
/* *************nav************* */

nav{
  padding: 20px 0;
}

nav .nav-contint{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-contint > div{
  width: 50%;
}

nav .nav-contint .nav-left{
  display: flex;
  align-items: center;
  gap: 80px;
}
nav .nav-contint .brand-logo{
  width: 120px;
  height: 50px;
}

nav .nav-contint .brand-logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav .nav-contint .navbar{
  display: flex;
  align-items: center;
  gap: 20px;
}

nav .nav-contint .navbar .nav-item{
  position: relative;
  overflow: hidden;
}

nav .nav-contint .navbar .nav-item:hover{
  overflow: visible;
}

nav .nav-contint .navbar .nav-link{
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--dark-color);
  transition: 0.3s color linear;
}

nav .nav-contint .navbar .nav-item:hover .nav-link,
nav .nav-contint .navbar .nav-item.active .nav-link{
  color: var(--primary);
}

nav .nav-contint .navbar .nav-link img{
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-left: 5px;
  filter: var(--img-dark);
  transition: 0.3s all linear;
}

nav .nav-contint .navbar .nav-item:hover .nav-link img{
  transform: rotate(180deg);
  filter: var(--img-primary);
}

nav .nav-contint .navbar .nav-item .dropdown{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 10px);
  background: var(--light-gray);
  border-radius: 0 0 5px 5px;
  padding: 20px 40px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  width: max-content;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

nav .nav-contint .navbar .nav-item:hover .dropdown{
  opacity: 1;
  transform: translate(-50%, 0px);
}

nav .nav-contint .navbar .nav-item .dropdown .drop-item{
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--dark-color);
  transition: 0.3s color linear;
}

nav .nav-contint .navbar .nav-item .dropdown .drop-item:hover{
  color: var(--primary);
}

nav .nav-contint .nav-right{
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .nav-contint .nav-right form{
  width: 350px;
}

nav .nav-contint .nav-right form .form-group{
  width: 100%;
  position: relative;
}

nav .nav-contint .nav-right form .form-group input{
  width: 100%;
  padding: 15px 135px 15px 20px;
  height: 50px;
  border-radius: 120px;
  border: 1px solid var(--light-gray);
}


nav .nav-contint .nav-right form .form-group .search-btn{
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border-radius: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  background: var(--primary);
  overflow: hidden;
  transition: 0.3s all linear;
  width: 40px;
  height: 40px;
}

nav .nav-contint .nav-right form .form-group .search-btn .search-text{
  width: 0;
  overflow: hidden;
  transition: 0.3s;
}

nav .nav-contint .nav-right form .form-group .search-btn .search-icon{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-contint .nav-right form .form-group .search-btn img{
  width: 50%;
  height: 50%;
  object-fit: contain;
  filter: var(--img-white);
  transform-origin: bottom right;
}

nav .nav-contint .nav-right form .form-group .search-btn:hover img{
  animation: search-animation 0.5s linear infinite alternate;
}

@keyframes search-animation{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(-5deg);
  }
  100%{
    transform: rotate(5deg);
  }
}

nav .nav-contint .nav-right form .form-group input:not(:placeholder-shown) + a{
  width: 120px;
  padding: 0 15px;
}

nav .nav-contint .nav-right form .form-group input:not(:placeholder-shown) + a .search-text{
  width: 50px;
}

/* ******header*********** */

.header-contint{
  display: flex;
  z-index: 1;
  position: relative;
}

.header-contint .header-left{
  flex-grow: 1;
  padding:150px 100px;
  display: flex;
  align-items: center;
}

.header-contint .header-left .general-title{
  margin-bottom: 0.1em;
}

.header-contint .header-left .header-subtitle {
  text-transform: capitalize;
  font-weight: 500;
  color: var(--dark-color);
  font-size: 3rem;
}

.header-contint .header-left .header-desc {
  font-size: 0.7rem;
  margin: 2em 0;
  color: var(--dark-gray);
}


.header-contint .header-right{
  background-color: var(--secondary);
  padding: 0 100px;
  border-bottom-left-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -1;
}

.header-contint .header-right .header-right-title{
  writing-mode: vertical-lr;
  font-family: cursive;
  font-size: 4rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--light-gray);
  opacity: 0.6;
  font-weight: 300;
}

.header-contint .header-right .header-right-img{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-75%, -50%);
  width: 500px;
  height: 500px;
  
}

.header-contint .header-right .header-right-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header-contint .leafs{
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}

.header-contint .leafs img{
  position: absolute;
  width: 100px;
  height: 100px;
  object-fit: contain;
  animation: leafs-animation 10s linear infinite alternate;
}


.header-contint .leafs .leaf-right-top{
  top: 0;
  right: 0;
  object-position: top right;
}

.header-contint .leafs .leaf-left-bottom{
  bottom: 10px;
  left: 0;
  object-position: bottom left;
}

.header-contint .leafs .leaf-top-left{
  top: 50px;
  left: 50px;
  object-position: center;
}

.header-contint .leafs .leaf-bottom-right{
  bottom: 25px;
  right: 150px;
  object-position: center;
}

@keyframes leafs-animation{
  0%{
    transform: 
      translate(0, 0)
      rotate(0deg);
  }

  100%{
    transform: 
      translate(25px, 25px)
      rotate(20deg);
  }

  /* 0% {
    transform:
        translate3d(300,0,0)
        rotate(0deg);
  }

  100% {
      transform:
          translate3d(-350px,700px,0)
          rotate(90deg);
      opacity: 0;
  } */
}

/********** popular *********** */

.popular-contint{
  display: flex;
  justify-content: space-between;
}

.popular-contint .popular-item{
  width: 32%;
  padding: 30px 20px;
  border-radius: 17px;
  transition: 0.3s ease-in-out;
}

.popular-contint .popular-item:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-7px);
}


.popular-contint .popular-item:first-child{
  background:url('../images/banner_10.webp') center / cover no-repeat;
}

.popular-contint .popular-item:nth-child(2){
  background:url('../images/banner_11.webp') center / cover no-repeat;
}

.popular-contint .popular-item:last-child{
  background:url('../images/banner_12.webp') center / cover no-repeat;
}

.popular-contint .popular-item .popular-data{
  width: 55%;
  display: flex;
  flex-direction: column;
}

.popular-contint .popular-item .popular-data .popular-price{
  font-weight: 500;
  color: var(--white);
  padding: 6px 10px;
  font-size: 0.8rem;
  width: fit-content;
  border-radius: 3px;
  margin-bottom: 10px;
}

.popular-contint .popular-item:first-child .popular-price{
  background-color: var(--orange-color);
}
.popular-contint .popular-item:nth-child(2) .popular-price{
  background-color: var(--secondary);
}
.popular-contint .popular-item:last-child .popular-price{
  background-color: var(--white);
  color: var(--dark-color);
}

.popular-contint .popular-item .popular-data .popular-title{
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 1.5rem;
  line-height: 1.3;
}

.popular-contint .popular-item:first-child .popular-title{
  color: var(--secondary);
  text-transform: capitalize;
}
.popular-contint .popular-item:nth-child(2) .popular-title{
  color: var(--red-color);
}
.popular-contint .popular-item:last-child .popular-title{
  color: var(--light-blue-color);
}

.popular-contint .popular-item .popular-data .popular-desc{
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: var(--dark-color);
  opacity: 0.7;
}

.popular-contint .popular-item .popular-data .popular-btn{
  width: fit-content;
  text-decoration: underline;
  font-size: 0.9rem;
}
.popular-contint .popular-item:first-child .popular-btn{
  color: var(--orange-color);
}
.popular-contint .popular-item:nth-child(2) .popular-btn{
  color: var(--secondary);
}
.popular-contint .popular-item:last-child .popular-btn{
  color: var(--orange-color);
}

/* ***********about************ */

.about-contint{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-contint .about-left{
  width: 30%;
  background-color: var(--orange-color);
  border-top-right-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 100px 0;
}

.about-contint .about-left .about-title{
  writing-mode: vertical-lr;
  text-transform: uppercase;
  font-family: cursive;
  font-size: 3rem;
  white-space: nowrap;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--light-gray);
  opacity: 0.6;
  font-weight: 500;
}

.about-contint .about-left .about-img{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(50%);
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}

.about-contint .about-left .about-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
}

.about-contint .about-right{
  width: 55%;
  padding-right: 60px;
}

.about-contint .about-right .general-title{
  margin-bottom: 20px;
}

.about-contint .about-right .about-subtitle{
  margin-bottom: 20px;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--dark-color);
}

.about-contint .about-right .about-desc{
  margin-bottom: 20px;
  line-height: 1.6;
  font-weight: 300;
  color: var(--dark-gray);
}

/* **********category************ */

.category{
  background-color: var(--light-gray);
}

.category .category-contint{
  display: flex;
  justify-content: space-evenly;
}

.category .category-contint .category-item{
  width: calc(100% / 8.5) ;
  padding: 20px 0;
  border-radius: 25px;
  background-color: var(--white);
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category .category-contint .category-item:hover{
  transform: scale(1.05);
  box-shadow:0 0 10px  rgba(135, 135, 135, 0.1);
}

.category .category-contint .category-item .category-img{
  width: 85px;
  height: 85px;
  margin-bottom: 10px;
}

.category .category-contint .category-item .category-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.category .category-contint .category-item .category-title{
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--dark-color);
  text-transform: capitalize;
  transition: 0.3s color linear;
}

.category .category-contint .category-item:hover .category-title{
  color: var(--primary);
}

/* *************deal*************** */

.deal-contint{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deal-contint .deal-item{
  width: 60%;
  display: flex;
  align-items: center;
}

.deal-contint .deal-item .deal-img{
  width: 50%;
  position: relative;
}
.deal-contint .deal-item .deal-img .deal-sale{
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--orange-color);
  padding: 5px 10px;
  border-radius: 120px;
  border: 2px dotted var(--orange-color);
}

.deal-contint .deal-item .deal-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.deal-contint .deal-item .deal-data{
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

.deal-contint .deal-item .deal-data .deal-icon{
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
}

.deal-contint .deal-item .deal-data .deal-icon img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: var(--img-red);
}

.deal-contint .deal-item .deal-data .deal-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 500;
  color: var(--dark-color);
  text-transform: capitalize;
}

.deal-contint .deal-item .deal-data .deal-desc {
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 20px;
  color: var(--dark-gray);
}

.deal-contint .deal-item .deal-data .prices{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.deal-contint .deal-item .deal-data .prices .deal-price{
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--red-color);
  margin-right: 20px;
}

.deal-contint .deal-item .deal-data .prices .deal-old-price{
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark-gray);
  text-decoration: line-through;
  font-style: italic;
}

.deal-contint .deal-item .deal-data .custum-btn{
  color: var(--secondary);
  margin-bottom: 20px;
  outline-color: var(--primary);
}

.deal-contint .deal-item .deal-data .custum-btn:hover{
  color:var(--white);
}

.deal-contint .deal-item .deal-data .custum-btn::after,
.deal-contint .deal-item .deal-data .custum-btn::before{
  width: 0;
  background-color: var(--primary);
}

.deal-contint .deal-item .deal-data .custum-btn:hover:after,
.deal-contint .deal-item .deal-data .custum-btn:hover:before{
  width: 55%;
}

.deal-contint .deal-item .deal-data .custum-btn span{
  background-color: var(--primary);
  transition: 0.3S ease-in-out;
}
.deal-contint .deal-item .deal-data .custum-btn:hover span{
  background-color: var(--white);
}

.deal-contint .deal-item .deal-data .custum-btn span img{
  filter: var(--img-white);
}
.deal-contint .deal-item .deal-data .custum-btn:hover span img{
  filter: var(--img-primary);
}

.deal-contint .deal-item .deal-data .deal-time{
  display: flex;
  align-items: center;
}

.deal-contint .deal-item .deal-data .deal-time .deal-time-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.deal-contint .deal-item .deal-data .deal-time .deal-time-box span:first-child{
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--orange-color);
  margin-bottom: 5px;
}

.deal-contint .deal-item .deal-data .deal-time .deal-time-box span:last-child{
  font-weight: 500;
  color: var(--dark-gray);
  text-transform: capitalize;
}